
.root { 
    background-image: linear-gradient(rgba(burlywood,0.85),rgba(burlywood,0.85)),
                url(../../../images/location.jpg);
    background-position: 100% 80%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
 
}