@import '../../../sass/styles.scss';

.presentation {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
                to right bottom ,
                rgba($color-primary-dark, 0.800),
                rgba($color-primary-dark, 0.800))
            ,url('../../../images/desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 80%;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 4rem 0;

  
}


.wrapper__contact {
            display: grid;
            grid-template-columns: repeat(4, min-content);
            grid-column-gap: 3rem;
            &_icon {
              &:hover {
                transition: all .3s;
                transform: scale(1.3);
              }
            }
  }

   .wrapper__download {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;
          justify-content: center;
          font-family: $font-display;
          margin-bottom: 5rem;
      

        } 
        @media screen and (max-width: 600px) {
          .wrapper__download {
            grid-template-columns: max-content;
            grid-template-rows: repeat(2, 1fr);
            // margin: 0 auto;
            margin-bottom: 5rem;
          }
        }
